{% extends 'inventory/base.html'%}


{% block content %}
<h2 align="center"> รายการสินค้า </h2>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">รหัสสินค้า</th>
        <th scope="col">รายละเอียดสินค้า</th>
        <th scope="col">จำนวนสินค้าคงเหลือ</th>        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>        
      </tr>
      
    </tbody>
  </table>
  
  
  {% endblock content%}
